/* não é exibido na tela, mas é lido por leitores de tela */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.search-input {
    padding: 0.5rem 1rem;
    width: auto !important;
}

.item-input-field {
    width: 16rem;
    padding: 0.5rem 1rem;
    border: 1px black solid;
    background: #fff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.dia-da-semana {
    width: 8rem;
    padding: 0.5rem 1rem;
    border: 1px black solid;
    background: #fff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-item {
    min-width: 22rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    background: #fff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
}

.dias-da-semana-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
}

section>form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 25rem;
}
