* {
    margin: 0;
    padding: 0;
}

.containerLogoIF {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.informacoesAluno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logoIF {
    height: 90px;

}

img {
    margin: 0 auto;
}