body {
    display: flex;
    background-color: #F5F5F5;
    width: 100%;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    border: solid 1px red;
    justify-content: center;
    align-items: center;
}

.containerLogin {
    background-color: white;
    max-width: 500px;
    padding: 80px 500px;
    border-radius: 30px;
    border: solid 1px #b8b8b8;
}